html {
    height: 100%;
}

body {
    height: 100%;
}

.btnReponse {
    padding: 1rem;
    border: 2px solid #fff;
}

.btnImage {
    height: 230px;
    /* width: 15%!important; */
}

.imageComplot {
    /* height: 100%;
    width: 100%; */
    max-width: 30rem;
}

#choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#imageComplotDiv {
    width: 40%;
}

.ireponses {
    max-width: 15rem;
}
