#divCenter {
    padding: 1rem;
}

.btnReponse {
    width: 50%;
    padding: 1rem;
    border: 2px solid #fff;
}

.btnImage {
    height: 230px;
}

.imageComplot {
    max-width: 30rem;
}

#choices {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.ireponses {
    max-width: 15rem;
}

@media screen and (max-width: 540px) {
    .imgBarem {
        width: 100%;
    }

    .btnReponse {
        width: 100%;
    }
}
